body{
    background-image: url('bgmain.jpg');
}

.button1{
    display: inline-block;
    background-color: black;
    padding: 0px 13px;
    border-radius: 6px;
    background-color: #E52B50;
    box-shadow: 0.8em 0.8em 15px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.button2{
    display: inline-block;
    background-color: black;
    padding: 0px 13px;
    border-radius: 6px;
    background-color: #E52B50;
    box-shadow: 0.8em 0.8em 15px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.button1:hover{
    transform: scale(1.1);
}
.button2:hover{
    transform: scale(1.1);
}
.buttons{
    padding: 0 30px;
    color: aliceblue;
    font-size: 45px;
    text-align: center;
    position: relative;
    top: 250px;
    font-family: 'Poppins', sans-serif;   
}

a{
    color: beige;
    text-decoration: none;
}